body {
  margin: 0;
  background: #ffffff;
  color: #111;
  font-family: Georgia, serif;
}

#container {
  max-width: 700px;
  margin: 60px auto;
  padding: 20px;
  line-height: 1.6;
}

.fragment {
  margin-bottom: 14px;
}

.didascalie {
  font-style: italic;
}
